/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* variables */
:root {
    
    /* font and typography */
    --font-body: 'Lora', serif;
    --font-sec: 'Open Sans', sans-serif;
    --font-big-1: 5.5rem;
    --font-big-2: 3.5rem;
    --font-h1: 2.7rem;
    --font-h2: 1.65rem;
    --font-h3: 1.5rem;
    --normal-font: 1.30rem;
    --large-1-font:1.30rem;
    --large-2-font: 1rem;



    /* colors */
    --first: hsl(60, 100%, 50%);
    --second: hsl(0, 100%, 50%);
    --text: hsl(420, 50%,49%);
    --title: hsl(60, 39%, 0%);
    --body:  hsl(420, 39%, 100%);
    --container: hsl(60, 39%, 0%);

    /* transition */
    --transition:ease-n-out;

    /* header-height */
    --header-height: 5rem;

    /* font-w */
    --font-w-500:500;



}

/* general css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--body);
}

input,
button {
    outline: none;
    border: none;
    background-color: transparent;
}


input,
button,
body{
    font-family: var(--font-body);
    font-size: var(--normal-font);
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
}


p{
    line-height: 1.8rem;
}

h1,h2,h3,h4{
    color: var(--title);
    font-family: var(--font-sec);
    font-weight: var(--font-w-500);
}


img{
    max-width: 100%;
}


/* general css */




/* swiper-s */
/* container */
.container{
    max-width: 1320px;
    padding-inline: 0.80rem;
    margin-inline: auto;
}
/* container */


/* grid */
.grid{
    display: grid;
    gap: 1.6rem;
}
/* grid */


/* home */
.home{
    background-color: rgb(59, 58, 58);
    /* background-image: url(../images/background.jpg); */
    padding-block: 11rem 3.30rem;
    position: relative;
}

.home::before{
    content: '';
    position: absolute;
    right: 0;
    top: 30%;
    width: 885px;
    height: 420px;
    background-color: var(--second);
    border-radius: 14rem 0 0 14rem;
}
/* home */


/* content_home */
.home__content {
    
    grid-template-columns: repeat(2, 1fr);
    align-items: center; /* or align-items: flex-start; */
}
/* content_home */



/* subT_home-s */
.subT_home{
    font-size: var(--font-h3);
    color: var(--second);
    font-weight: bolder;
}
/* subT_home-e */


/* title_home-s */
.title_home{
    color: var(--first);
    font-size: var(--font-big-1);
    font-weight: bold;
    margin-bottom: .7rem;
}
/* title_home-e */


/* desc_home-s */
.desc_home{
    color:var(--body);
    font-size: var(--large-1-font);
    max-width: 420px;
    margin-bottom: 4rem;
}
/* desc_home-e */




/* swiper-s */
.swiper-pagination{
    position: initial;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .25rem;
}

.swiper-pagination-bullet{
    opacity: 1;
    width: 15px;
    height: 15px;
    background-color: hsl(0, 0%,71%);
}

.swiper-pagination-bullet-active {
    border: 5px solid var(--second);
    background-color: transparent;
    padding: .25rem;
}



.swiper-button-next::after,
.swiper-button-prev::after{
    content: "";
}


.swiper-button-next,
.swiper-button-prev{
    border: 1px solid var(--body);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: var(--body);
    font-size: var(--large-2-font);
    top: 95%;
    transition: all 0.3s var(--transition);
}



.swiper-button-next:hover,
.swiper-button-prev:hover{
    background-color: var(--second);
    border-color: var(--second);
}

.swiper-button-next{
    right: 1rem;
}
.swiper-button-prev{
    left: 1rem;
}


/* swiper-e */



/* button-s */
.btn{
    display: inline-block;
    background-color: var(--second);
    color: var(--body);
    font-family: var(--font-sec);
    padding: 1.20rem 2.5rem;
    position: relative;
    
}

.btn::before{
    content: "";
    position: absolute;
    inset-block: -0.5rem;
    right: -0.5rem;
    border: 3px solid var(--second);
    width: calc(100% - 1rem);
    z-index: -1;
    transition: all 0.3s var(--transition);
}

.btn,
.btn::before{
    border-radius: 10px;
}


.btn:hover::before{
    width: 30%;
}
/* button-e */





/* header and nav-s */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav,
.list_nav{
    display: flex;
}

.nav{
    /* background-color: var(--first); */
    height: calc(var(--header-height) + 1.5rem);
    align-items: center;
    justify-content: space-between;
}

.list_nav{
    column-gap: 3rem;
}

.link_nav{
    color: var(--body);
    font-family: var(--font-sec);
    font-size: var(--large-2-font);
    font-weight: var(--font-w-500);
    transition: all 0.3s var(--transition);
}

.logo_img{
    width: 150px;
}

.close_nav,
.mobile_logo,
.toggle_nav{
    display: none;

}

/* link active-s */
.active-link,
.link_nav:hover{
    color: var(--second);
}
/* link active-s */
/* header and nav-e */