/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* variables */
:root {
    
    /* font and typography */
    --font-body: 'Lora', serif;
    --font-sec: 'Open Sans', sans-serif;
    --font-big-1: 5.5rem;
    --font-big-2: 3.5rem;
    --font-h1: 2.7rem;
    --font-h2: 1.65rem;
    --font-h3: 1.5rem;
    --normal-font: 1.30rem;
    --large-1-font:1.30rem;
    --large-2-font: 1rem;



    /* colors */
    --first: hsl(60, 100%, 50%);
    --second: hsl(0, 100%, 50%);
    --text: hsl(420, 50%,49%);
    --title: hsl(60, 39%, 0%);
    --body:  hsl(420, 39%, 100%);
    --container: hsl(60, 39%, 0%);

    /* transition */
    --transition:ease-n-out;

    /* header-height */
    --header-height: 5rem;

    /* font-w */
    --font-w-500:500;



}

/* general css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--body);
}

input,
button {
    outline: none;
    border: none;
    background-color: transparent;
}


input,
button,
body{
    font-family: var(--font-sec);
    font-size: var(--normal-font);
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
}


p{
    line-height: 1.8rem;
}

h1,h2,h3,h4{
    color: var(--title);
    font-family: var(--font-sec);
    font-weight: var(--font-w-500);
}


img{
    max-width: 100%;
}


/* general css */


/* container */
.container{
    max-width: 1320px;
    padding-inline: 0.80rem;
}
/* container */


/* grid */
.grid{
    display: grid;
    gap: 1.6rem;
}
/* grid */


/* home */
.home{
    background-image: url(../images/background.jpg);
}
/* home */

/* content_home */
.content_home{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
/* content_home */